<!-- Sezione Hero Principale -->
<section class="hero-section">
  <div class="hero-content">
    <!-- Testo introduttivo -->
    <div class="intro-text">
      <h1>Andrea Italiano</h1>
      <h2>Analista Programmatore Java</h2>
      <p>Appassionato di sviluppo software, clean code e cloud</p>
    </div>
    <div class="dev-image-container">
      <img src="https://i.postimg.cc/NLvGdXXj/dev-removebg-preview.png" alt="Developer Icon" class="dev-icon-img">
    </div>

  </div>
</section>

<!-- Separatore visivo -->
<div class="section-divider"></div>

<!-- Timeline delle esperienze posizionata sotto -->
<app-experience-timeline></app-experience-timeline>
